<div class="card">
  <div class="card-body">
    <h3 class="card-title event-title">{{title}}</h3>
    <p class="card-text event-location">{{location}}</p>
    <p class="card-text event-details">{{details}}</p>
  </div>
</div>