<div class="card">
  <div class="card-body">
    <h3 class="card-title" id="event-title">{{title}}</h3>
    <p class="card-text" id="event-type">{{location}}</p>
    <p class="card-text" id="event-date">{{details}}</p>
  </div>
</div>