<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Events</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/"></a>
      </h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Conditionally render login or logout links -->
        {{!-- {{#if logged_in}} --}}
        <a href="/dashboard">Dashboard</a>
        <button class="no-button" id="logout">Logout</button>
        {{!-- {{else}} --}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/">Search</a>
        {{!-- {{/if}} --}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  
  <script src="./js/logout.js"></script>


</body>

</html>