<div class="jumbotron jumbotron-fluid">
  <h2>Welcome, {{user.name}}!</h2>
</div>

<div>
  <div class="row">
  
    <div class="col-3">
      <h2>Your Events:</h2>
         {{#if createdEvents.length}}
      <div>
      {{#each createdEvents as |event|}}
      {{> createdEventsCard}}
      {{/each}}
      </div>
         {{/if}}
    </div>
    <div class="col-6"></div>
    <div class="col-3">
      <h2>Saved Events:</h2>
       {{#if savedEvents.length}}
      <div>
      {{#each savedEvents as |event|}}
      {{> savedEventsCard}}
      {{/each}}
      </div>
         {{/if}}
    </div>
 
  </div>
</div>

{{#if savedEvents.length}}
<script src="../../../js/savedEventsDel.js"></script>
{{/if}}

{{#if createdEvents.length}}
<script src="../../../js/createdEventsDel.js"></script>
{{/if}}
