<h1> Search Events Near You</h1>

<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" id="city" placeholder="Search Zipcode" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="zipcode">Search</button>
    </form>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" id="city" placeholder="Search City" aria-label="Search-city">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form>




    
    <script src="/js/main.js"></script>