<h1> Search Events Near You</h1>

<form id="zip-form" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" id="zipInput" placeholder="Search Zipcode" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="zipBtn">Search</button>
</form>

{{!-- <form id="city-form" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" id="cityInput" placeholder="Search City" aria-label="Search-city">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="cityBtn">Search</button>
</form>

<form id="state-form" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" id="stateInput" placeholder="Search state" aria-label="Search-state">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="stateBtn">Search</button>
</form> --}}

<form id="type-form" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" id="typeInput" placeholder="Search type" aria-label="Search-type">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="typeBtn">Search</button>
</form>

<script src="../../../js/search.js"></script>