<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Search Results</h1>

    {{!-- {{#each events as |event|}}
    {{> gallery-details}}
    {{/each}} --}}

  </div>
</div>


<script src="./js/search.js"></script>